*

!docker

!adventure
!backgrounds
!bastions
!bestiary
!book
!characters
!charcreationoptions
!classes
!conditionsdiseases
!covers
!decks
!deities
!dmscreen
!feats
!hazards
!items
!languages
!objects
!optionalfeatures
!pdf
!plutonium
!races
!recipes
!spells
!traps
!variantrules
!vehicles

!*.webp
